.container {
    width: 90%;
    margin: 0 auto;
}

.iconWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.svg-graphic {
    max-width: 40%;
    width: 80%;
    height: 250px;
    padding: 10px;
}

.hidden {
    display: none;
}