    <h1 class="main-header">SVG with Greensock and Waypoint.js</h1>
    <main>
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="row1" class="container">
          <div class="iconWrapper">
            <h1 class="hidden">Icon Row One</h1>
            <div class="test"><object data="images/snIcon.svg"  type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <div class="see-more" data-target="1"><p>See More</p></div></div>
            <div class="test"><object data="images/adamIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <div class="see-more" data-target="2"><p>See More</p></div></div>
            <div class="test"><object data="images/mnIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <div class="see-more" data-target="3"><p>See More</p></div></div>
            <div class="test"><object data="images/sdIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
            <div class="see-more" data-target="4"><p>See More</p></div></div>
          </div>
           <article class="popover">
          <h4 class="ipa-rating">IPA Rating</h4>
          <div class="ratings">
          </div>
          <p class="beer-description"></p>
        </article>

        </section>

        <section id="row2" class="container">
          <div class="iconWrapper blank" id="waypoint">
            <h1 class="hidden">Icon Row One</h1>
            <div class="test"><object data="images/isIcon.svg"  type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <div class="see-more" data-target="1"><p>See More</p></div></div>
            <div class="test"><object data="images/maratIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <div class="see-more" data-target="2"><p>See More</p></div></div>
            <div class="test"><object data="images/venusIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <div class="see-more" data-target="3"><p>See More</p></div></div>
            <div class="test"><object data="images/tsIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
            <div class="see-more" data-target="4"><p>See More</p></div></div>
          </div>
          
        </section>

        <section id="row3" class="container">
           <div class="iconWrapper blank" id="waypoint1">
            <h1 class="hidden">Icon Row One</h1>
            <div class="test"><object data="images/seuIcon.svg"  type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <div class="see-more" data-target="1"><p>See More</p></div></div>
            <div class="test"><object data="images/stIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <div class="see-more" data-target="2"><p>See More</p></div></div>
            <div class="test"><object data="images/pearIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <div class="see-more" data-target="3"><p>See More</p></div></div>
            <div class="test"><object data="images/paulIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
            <div class="see-more" data-target="4"><p>See More</p></div></div>
          </div>
           </section>

          <section id="row4" class="container">
           <div class="iconWrapper blank" id="waypoint2">
            <h1 class="hidden">Icon Row One</h1>
            <div class="test"><object data="images/jwwIcon.svg"  type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <div class="see-more" data-target="1"><p>See More</p></div></div>
            <div class="test"><object data="images/picIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <div class="see-more" data-target="2"><p>See More</p></div></div>
            <div class="test"><object data="images/waveIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <div class="see-more" data-target="3"><p>See More</p></div></div>
            <div class="test"><object data="images/libIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
            <div class="see-more" data-target="4"></div></div>
          </div>
           </section>

           <section id="row5" class="container">
          <div class="iconWrapper blank" id="waypoint3">
            <h1 class="hidden">Icon Row One</h1>
            <div class="test"><object data="images/barIcon.svg"  type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <div class="see-more" data-target="1"><p>See More</p></div></div>
            <div class="test"><object data="images/goyIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <div class="see-more" data-target="2"><p>See More</p></div></div>
            <div class="test"><object data="images/gothIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <div class="see-more" data-target="3"><p>See More</p></div></div>
            <div class="test"><object data="images/thinkIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
            <div class="see-more" data-target="4"><p>See More</p></div></div>
          </div>
           </section>
    </main>
    <script src="js/main.js"></script>
