    <h1 class="main-header">SVG with Greensock and Waypoint.js</h1>
    <main>
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="row1" class="container">
          <div class="iconWrapper">
            <h1 class="hidden">Icon Row One</h1>
            <object data="images/snIcon.svg" type="image/svg+xml" class="svg-graphic" id="gogh"></object>
            <object data="images/adamIcon.svg" type="image/svg+xml" class="svg-graphic" id="adam"></object>
            <object data="images/mnIcon.svg" type="image/svg+xml" class="svg-graphic" id="mona"></object>
            <object data="images/sdIcon.svg" type="image/svg+xml" class="svg-graphic" id="dali"></object>
          </div>

        </section>

        <section id="row2" class="container">
          <div class="iconWrapper blank" id="waypoint">
            <h1 class="hidden">Icon Row Two</h1>
            <object data="images/isIcon.svg" type="image/svg+xml" class="svg-graphic" id="monet"></object>
            <object data="images/maratIcon.svg" type="image/svg+xml" class="svg-graphic" id="marat"></object>
            <object data="images/venusIcon.svg" type="image/svg+xml" class="svg-graphic" id="venus"></object>
            <object data="images/tsIcon.svg" type="image/svg+xml" class="svg-graphic" id="scream"></object>
          </div>
          
        </section>

        <section id="row3" class="container">
          <div class="iconWrapper blank" id="waypoint1">
            <h1 class="hidden">Icon Row Three</h1>
            <object data="images/seuIcon.svg" type="image/svg+xml" class="svg-graphic" id="seurat"></object>
            <object data="images/stIcon.svg" type="image/svg+xml" class="svg-graphic" id="saint"></object>
            <object data="images/pearIcon.svg" type="image/svg+xml" class="svg-graphic" id="pearl"></object>
            <object data="images/paulIcon.svg" type="image/svg+xml" class="svg-graphic" id="paul"></object>
          </div>

          <section id="row4" class="container">
          <div class="iconWrapper" id="waypoint2">
            <h1 class="hidden">Icon Row Four</h1>
            <object data="images/jwwIcon.svg" type="image/svg+xml" class="svg-graphic" id="lady"></object>
            <object data="images/picIcon.svg" type="image/svg+xml" class="svg-graphic" id="pablo"></object>
            <object data="images/waveIcon.svg" type="image/svg+xml" class="svg-graphic" id="wave"></object>
            <object data="images/libIcon.svg" type="image/svg+xml" class="svg-graphic" id="liberty"></object>
          </div>

           <section id="row5" class="container">
          <div class="iconWrapper" id="waypoint2">
            <h1 class="hidden">Icon Row Four</h1>
            <object data="images/barIcon.svg" type="image/svg+xml" class="svg-graphic" id="bar"></object>
            <object data="images/goyIcon.svg" type="image/svg+xml" class="svg-graphic" id="goya"></object>
            <object data="images/gothIcon.svg" type="image/svg+xml" class="svg-graphic" id="gothic"></object>
            <object data="images/thinkIcon.svg" type="image/svg+xml" class="svg-graphic" id="thinker"></object>
          </div>

        </section>

        <article class="popover">
          <h4 class="ipa-rating">IPA Rating</h4>
          <div class="ratings">
          </div>
          <p class="beer-description"></p>
        </article>
    </main>
    <script src="js/main.js"></script>
